<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R2G</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e0cbf96605.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1>R2G <span>Cryptodashbruv</span></h1>
            </div>
            <ul class="navigation">
                <a href="">
                    <li>Home</li>
                </a>
                <a href="">
                    <li>Facts</li>
                </a>
                <a href="">
                    <li>Charts</li>
                </a>
                <a href="">
                    <li>Correlation</li>
                </a>
            </ul>
        </div>
    </div>
    <section class="daily_facts">
        <h1>Daily Facts</h1>
        <div class="row">
            <div class="column">
                <span style="color:  Tomato;">
                    <i class="fas fa-coins fa-5x"></i>
                </span>
                <h2>{{coins}}</h2>
                <h2>Coins</h2>
            </div>
            <div class="column">
                <span style="color:blue">
                    <i class="fas fa-chart-pie fa-5x"></i>
                </span>
                <h2>{{marketcap}}</h2>
                <h2>Marketcapitalization</h2>
            </div>
            <div class="column">
                <span style="color:coral">
                    <i class="fas fa-thumbs-up fa-5x"></i>
                </span>
                <h2>{{winner}}</h2>
                <h2>Winner of the week</h2>
            </div>
            <div class="column">
                <span style="color:crimson">
                    <i class="fas fa-thumbs-down fa-5x"></i>
                </span>
                <h2>{{loser}}</h2>
                <h2>Loser of the week</h2>
            </div>
        </div>
        <section class="all_charts">
            <h1>Charts</h1>
            <button onclick="userAction()">Receive Data</button>
            <button onclick="update_charts()">Update</button>
            <label for="tage">Wähle einen Zeitraum:</label>

            <select name="tage" id="tage">
                <option value="7">7</option>
                <option value="30">30</option>
                <option value="90">90</option>
                <option value="365">365</option>
            </select>
            <select name="currencies" id="currencySelector" onchange="onSelectorChange(this)" >
                <option value="BTC">Bitcoin</option>
            </select>
            <div class="charts">

                <div class="chart">
                    <h2>Price History</h2>
                    <canvas id="line-chart" width="800" height="450"></canvas>
                </div>
                <div class="chart">
                    <h2>Marketcapitalization over Time</h2>
                    <canvas id="bar-chart" width="800" height="450"></canvas>
                </div>
            </div>
        </section>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.min.js"
            integrity="sha512-RGbSeD/jDcZBWNsI1VCvdjcDULuSfWTtIva2ek5FtteXeSjLfXac4kqkDRHVGf1TwsXCAqPTF7/EYITD0/CTqw=="
            crossorigin="anonymous"></script>
        <script src="script.js"></script>
</body>

</html>