*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1{
    font-size: 44px;
    font-family: "Montserrat";
}

h2{
    font-size: 24px;
    font-family: "Montserrat";
}
.header{
    width: 100%;
    height: 88px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat";
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;

}

.navigation a{
    height: 100%;
    display: table;
    float:left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Montserrat";
    font-size: 16px;

}


.column {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 150px;
    padding-top: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    height: 250px;
  }
  
  .daily_facts{
      text-align: center;
      margin-top: 50px;
  }

  .charts {
    display: flex;
  }
  
  .chart {
    flex: 50%;
    text-align: center;
  }